<app>
  <p>{ props.message }</p>
  <riot-button></riot-button>
   <script>
    import RiotButton from './button.riot'

    export default {
      components: {
        RiotButton
      }
    }
  </script>
</app>
